html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
  color: #444a52;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

p {
  width: 450px;
}
